sampled_data
sampled_data.zip
venv
flow_output
CICFlowmeter_Processed_Friday_flow_labeled
processed_data
.venv
CICFlowmeter_Processed_flow_labeled
processed_friday_data
tfenv
processed_wednesday_data
processed_thursday_data
processed_three_Friday_data
processed_three_Friday_no0203_data
processed_small_dataset